.entity {
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  will-change: transform;
  transition: transform 20ms ease-in-out;
  z-index: 0;
}

.entity:active {
  cursor: grabbing;
}

.entity::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.entity.focused::before {
  z-index: -1;
}
